<div class="home-container">
  <h2>Cofund Challenge</h2>
  <p>
    Hey there! Welcome to the COYO frontend challenge. Don't be afraid, the main focus is not about failing or succeeding in the given tasks, but to have a chat about the code, style and architectural things of the project. So let's go.
  </p>
  <h2>The project</h2>
  <p>
    This project was born for the Covid-19 Hackathon <a href="https://wirvsvirus.org" target="_blank">https://wirvsvirus.org</a> back in March 2020. The source code here reflects an early state, fastly boostrapped on a friday evening. You will probably find a number of 'dodgy' things ;)
  </p>
  <h2>Business case</h2>
  <p>
    The idea behind the project is to help small local shops or restaurant through the pandemic situation by donations.

    This is the admin control panel. We can see all the companies that received donations and the specific transactions and payouts.

    To login, you can enter anything (as token).
  </p>
</div>
